.bg-black {
  background-color: black;
  color: white;
}
.bg-white {
  background-color: white;
  color: black;
}
.bg-purple {
  background-color: $primary-violet;
  color: white;
}
.bg-pink {
  background-color: $primary-pink;
  color: white;
}
.bg-blue {
  background-color: $primary-blue;
  color: white;
}
